@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;500&display=swap');

*{
  box-sizing: border-box;
}

body, html {
  margin:0;
  padding:0;
  background-color: black;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top:0px;
  height: 100%;
  background-color: #121417;
  font-family:'Mitr', sans-serif;
  font-weight: 500;
  padding: 15px;
  max-width: 15vw;
}

/* I changed a lot of measurement units, I could have just put then in the media query but I felt that it was better to try to use viewports. This could be the reason why my menu text isn't changing.  That's the main thing I wanted to change and make more visiable */
@media only screen and (min-width:360px){
  a, .a0 {
    font-size: 60px;
  }
  a, .a1 {
    font-size: 40px;
  }
  a, .a2 {
    font-size: 40px;
  }
  a, .a3 {
    font-size: 40px;
  }
  .headerHome {
    word-wrap: break-word;
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  padding-left: 17vw;
  padding-right: 3.5vw;
  font-family:'Mitr', sans-serif;
}

.a0 {
  text-decoration: none;
  text-align: center;
  font-size: 4vw;
  font-weight: lighter;
  color: #AE45CC;
}

a, .a1 {
  text-decoration: none;
  color: #71dfff;
  font-size: 2vw;
}
a, .a1:hover {
  text-decoration: underline;
}

a, .a2 {
  text-decoration: none;
  color: #9171ff;
  font-size: 2vw;
}
a, .a2:hover {
  text-decoration: underline;
}

a, .a3 {
  text-decoration: none;
  color: #ff71df;
  font-size: 2vw;
}
a, .a3:hover {
  text-decoration: underline;
}

a, .a4 {
  text-decoration: none;
  color: #ff7198;
  font-size: 2vw;
}
a, .a4:hover {
  text-decoration: underline;
}

.Header {
  text-align: center;
  font-size: 4vw;
  font-weight: 500;
}
.headerHome {
  color: #71dfff;
}
.headerResume {
  color: #9171ff;
}
.headerWork {
  color: #ff71df;
}
.headerContact {
  color: #ff7198;
}

.content {
  display: flex;
  flex-direction: column;
}

.Images {
  text-align: center;
}
.aboutmeimage {
  width: 35vw;
}
.workimage {
  width: 50vw;
}

.Text {
  text-align: center;
  font-size: 3vw;
  font-weight: 200;
  color: white;
}
.subheader {
  font-size: 4vw;
}
.paragraph {
  word-wrap: break-word;
  padding-left: 7.5vw;
  padding-right: 7.5vw;
}

.footer {
  display: flex;
  font-size: 2vw;
  height: 7.5vh;
  color: #595959;
  justify-content: center;
  align-items: center;
}
